
/* Your CSS Code here. */
/* Styling for the main element */
main.accio#job {
    width: 150px;
    height: 150px;
    background-color: #000000; /* Black background */
}

/* Styling for the paragraph element */
p.hello-accio {
    color: #ffffff; /* White text color */
    margin-left: 32px;
    padding: 10px;
}
